<div class="showUser">
    <h2>{{name}}</h2> <a href="/users/edit/{{id}}">Edit</a>

    <h4>Favorite Genre: {{favGenre}}</h4>

    <ul>
        {{#each lists}}
        <li><a href="/list/{{id}}/{{this.id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
    <a href="/list/{{id}}/new">Add new list</a>

    <form action="/users/{{id}}?_method=delete" method="post" style="margin-top: 30px">
        <input type="submit" value="Delete">
    </form>
</div>